@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kavoon&family=Playpen+Sans:wght@100..800&display=swap');


body{
    font-family: "Kavoon";
    color: #9e26a2;
    height: 100vh;
}

.capa {
    background-image: url(../assets/img/capa.jpeg);
    background-size: cover;
    width: 100% !important;
    margin: 0 !important;
}

.sobre-capa{
    height: 100%;
    background-color: #00000042;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 4rem;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 700;
}

.img-sobre-mim {
    width: 25%;
    height: 300px;

}

.cabecalho {
    background: linear-gradient(97.54deg, #12b79e, #5bc1a6, #08ffda);
    /* background-color: #5bc1a6;
    border: 4px inset #12b79e; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    font-size: 1.2rem;
}

.cabecalho-titulo{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.frase-capa {
    width: 30%;
    padding-left: 350px;
    color: #356458;
    font-size: 1.2rem;
}

.cabecalho-titulo-img{
    margin-right: 15px;
    width: 10%;
}

.cabecalho-navegacao{
    margin-right: 50px;
    display: flex;
    gap: 60px;   
}

.cabecalho-navegacao a{
    text-decoration: none;
    color: #9e26a2;
}

.conteudo{
    display: flex;
}

.slogan{
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
}

.detalhe-arco-iris{
    padding: 0 5px;
    background: linear-gradient(90deg, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
    background-clip: text;
    color: transparent;
}

.conteudo-principal{
    width: 100%;
    background-color: rgba(225, 228, 247, 0.473);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    
}

.conteudo-principal-parte{
    /* padding: 10px; */
    width: 50%;
    margin-left: 20px;
    height: 600px;
    border-bottom: 1px solid red;
}

.minha-historia{
    display: flex;
    width: 80%;
}

.conteudo-lateral{
    padding: 20px 0;
    background-color: rgba(227, 207, 241, 0.4);
    width: 20%;
    display: flex;
    position: fixed;
    top: 55%;
    left: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px ridge #9e26a2;
    box-shadow: -10px 10px 5px #12b79e;
}

.conteudo-curiosidade{
    width: 50%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 30px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link-google {
    text-decoration: none;
    color: #4b0082;
    background-color: #c9f0ea;
    padding: 5px 10px;
    border-radius: 15px;
}

.link-google:hover {
    color: #c9f0ea;
    background-color: #4b0082;
}

.rodape{
    background: linear-gradient(97.54deg, #12b79e, #5bc1a6, #08ffda);
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin-top: auto;
}

#div_erro {
    color: #ff0000;
    font-size: 14px;
}

.login {
    height: 85%;
    display: flex;
    align-items:center;
    justify-content: center;   
}

.img-login{
    filter: drop-shadow(10px 10px 10px #066857);
}

#card-login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.campo{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.campo::placeholder{
    display: flex;
    text-align: center;
}

#valida-senha{
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 10px;
    font-weight: lighter;
    list-style: disc;
    padding-top: 2px;
}

.botoes{
    width: 80%;
}

#card-cadastro{
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}